In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('SC0x_W7L1_ZippyBright_data (1).csv')

In [91]:
df.dropna(axis = 'index', how = 'all')
df.dropna(axis = 'columns', how = 'all')

,Zippy Bright Sales per Week by Store,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 7
0,Week #,Store A,Store B,Store C,NaN
1,1,1,4,7,NaN
2,2,5,2,8,NaN
3,3,3,0,7,NaN
4,4,2,1,6,NaN
...,...,...,...,...,...
67,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,`,NaN

In [95]:
StoreB = df['Unnamed: 2']
StoreB = StoreB.dropna()
StoreB = pd.to_numeric(StoreB[1::])

In [111]:
value = set(StoreB)
value

{0.0, 0.72, 1.0, 1.28, 1.78, 2.0, 3.0, 4.0, 5.0}

In [115]:
frequency = StoreB.value_counts()
b = ["Frequency", "Percentage"]
frequency

1.00    16
2.00    15
0.00     9
3.00     7
4.00     5
5.00     3
1.78     1
1.28     1
0.72     1
Name: Unnamed: 2, dtype: int64

In [113]:
table = pd.DataFrame(columns = b, data = frequency)
table

Empty DataFrame
Columns: [Frequency, Percentage]
Index: []